<div class="divSection">
    <section>
        <article class="loginImg">
          <img class='imagLogin'src="../../../assets/astroRegistro.png" alt="">
        </article>
      <article class="login">
        <form action="#">
          <h1>Registrarse</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button class="buttonLogIn">Registrarme</button>
        </form>
      </article>
    </section>
  </div>