<router-outlet></router-outlet>
<p>juegos-menu works!</p>

    <div class=" divPadre">
        <div class="col-md-5 divCards">
            <div class="col-md-7">
                <div class="card shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#55595c"/></svg> -->
                    <img focusable="true"class="bd-placeholder-img card-img-top" width="" height="250px" src="../../../assets/astroLogin.png" alt="">
      
                  <div class="card-body">
                    <p class="card-text">Ahorcado</p>
                  </div>
                </div>
              </div>

              <div class="col-md-7 ">
                <div class="card shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#55595c"/></svg> -->
                    <img focusable="true"class="bd-placeholder-img card-img-top" width="" height="250px" src="../../../assets/astroLogin.png" alt="">
      
                  <div class="card-body">
                    <p class="card-text">Ahorcado</p>
                    
                  </div>
                </div>
              </div>
        </div>
  

        <div class="col-md-5 ">
            <div class="col-md-7">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"/></svg> -->
                        <img focusable="true"class="bd-placeholder-img card-img-top" width="200" height="250" src="../../../assets/astroLogin.png" alt="">
          
                      <div class="card-body">
                        <p class="card-text">Ahorcado</p>
                       
                      </div>
                    </div>
            </div>

            <div class="col-md-7">
                <div class="card shadow-sm">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#55595c"/></svg> -->
                    <img focusable="true"class="bd-placeholder-img card-img-top" width="200" height="250" src="../../../assets/astroLogin.png" alt="">
      
                  <div class="card-body">
                    <p class="card-text">Ahorcado</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
        
  

 