<div class="centrar-contedor">
  <section class="contenedor-cajas">
    <article class="caja shadow">
      <img src="../../../assets/astroHangjpg.jpg"  alt="" />
      <button type="button" class="btn" style="background-color: #FFA000; color: aliceblue;" [routerLink]="['ahorcado']">Ahorcado</button>
    </article>
    <article class="caja shadow">
      <img src="../../../assets/astroLove2.png" alt="" />
      <button type="button" class="btn" style="background-color: #DB527C; color: aliceblue;" [routerLink]="['mi-juego']">Mi juego</button>
    </article>
    <article class="caja shadow">
      <img src="../../../assets/astroLove.webp" alt="" />
      <button type="button" class="btn" style="background-color: #9A6CB4; color: aliceblue;" [routerLink]="['mayor-menor']">Mayor menor</button>
    </article>
    <article  style="background-color:#FECF50;" class="caja shadow">
      <img src="../../../assets/preguntados.jpg" alt=""/>
      <button type="button" class="btn" style="background-color: #009D71; color: aliceblue;" [routerLink]="['preguntados']">Preguntados</button>
    </article>
    
  </section>
</div>

