<app-nav-bar></app-nav-bar>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column quienSoy ">
    <main class="px-3">
      <h1 style="font-weight: bold;">Bienvenido a la Sala de Juegos</h1>
      <p class="lead">Trabajo Practico de Labo IV</p>
      <img src="../../../assets/astroGamer.png" alt="">
      <p class="lead">
          <br>
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
       
      <p>Sala de juegos , by <a href="" class="text-white">Florencia Colodro</a>.</p>
    </footer>
</div>
  