<div class="padre shadow">

  <div class="px-4 py-5 my-4 text-center">
    <h4 style="color:white; font-weight: bold;">Hola, soy Florencia👋 </h4>
    <img class="d-block mx-auto mb-3 mt-2 shadow" style="border-radius: 80px;" src="../../../assets/astroBye.webp" alt="" width="150" height="150">
        <h5 style="color:white; font-weight: bold; ">TruchOsu!⭕</h5>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color:white ;">Consiste en hacer click en la pelotita 20 veces antes de que se acabe el tiempo 💣.</p>
      <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      </div> -->
    </div>
  </div>
</div>
