<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column quienSoy">

    <main class="px-3">
      <h1>Sobre mi</h1>
      <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi deserunt facilis, numquam repellendus id reprehenderit accusamus ullam iure sint. Unde eos itaque iste consectetur earum ut maxime voluptatibus aperiam sequi.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  
    <img src="../../../assets/astroLove2.png" alt="">
    <footer class="mt-auto text-white-50">
      <p>Sala de juegos , by <a href="https://twitter.com/mdo" class="text-white">Florencia Colodro</a>.</p>
    </footer>
  </div>
  